# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.AutoBattleC++.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Everlen\OneDrive\Área de Trabalho\kokku_cpp_test\AutoBattleC++\.idea\.idea.AutoBattleC++\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
